.DS_Store
__pycache__/
*.blend1
*.log
output/previous_*/
output/FPV_Gate_Kit.zip

output/posterboard_concepts/Posterboard_Concepts.zip

output/rigid_whole_sheet/Rigid_Gate_and_Miniature.zip
output/rigid_whole_sheet/sliced/**/*.gcode

output/a1_full_size/A1_Full_Size_Kit.zip
output/a1_full_size/sliced/**/*.gcode

output/a1_full_size/manual_assets/*.png

output/paper_roll_study/Paper_Roll_Study_Kit.zip
output/paper_roll_study/sliced/**/*.gcode
output/full_width_demo/sliced/**/*.gcode
output/full_width_demo/Full_Width_Demo_Kit.zip

output/full_paper_gate/sliced/**/*.gcode
output/full_paper_gate/Full_Paper_Gate_Kit.zip

output/sleeve_paper_gate/sliced/**/*.gcode

output/sleeve_paper_gate/Sleeve_Paper_Gate_Kit.zip

output/first_frame_print/sliced/**/*.gcode
output/first_frame_print/First_Frame_Print_Kit.zip

output/pvc_paper_gate/sliced/**/*.gcode
output/pvc_paper_gate/PVC_Paper_Gate_Kit.zip

output/orthogonal_pvc_gate/sliced/**/*.gcode
output/orthogonal_pvc_gate/Orthogonal_PVC_Gate_Kit.zip

output/tee_pvc_gate/sliced/**/*.gcode
output/tee_pvc_gate/Tee_PVC_Gate_Kit.zip

output/dual_guy_gate/sliced/**/*.gcode
output/dual_guy_gate/Dual_Guy_Gate_Kit.zip

output/corner_guide_elbow/sliced/**/*.gcode
output/corner_guide_elbow/Corner_Guide_Elbow_Kit.zip
